.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
}

.coleslater {
    float: left;
    color: white;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
    font-size: 17px;
}


.homepagecontainer {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    padding: 0;
    margin: 0
}

.container .topnav {
    position: absolute;
}

.mountains {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.pages {
    color: white;
}

.mountainsketch {
    text-align: center;
    
}